@import url("https://fonts.googleapis.com/css2?family=Itim&display=swap");
body {
  font-family: Itim, sans-serif;
  background-image: url("images/genshin_04_4K.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  text-align: center;
  opacity: 0;
  transform: translateY(10px);
  animation: fadeUp 1s forwards;
}

#kaeya-portrait {
  position: fixed;
  bottom: 0px;
  right: 0px;
  height: 600px;
  object-fit: contain;
  opacity: 0;
  animation: 200ms fadeUp 1s forwards;
}

@media (max-width: 1980px) {
  body {
    /* background-image: url();
    height: 100%;
    background-color: aqua;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
  }
}

@media (max-width: 425px) {
  #kaeya-portrait {
    height: 350px;
  }
}

@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  80% {
    transform: translateY(1px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
