@import url("https://fonts.googleapis.com/css2?family=Itim&display=swap");
body {
  font-family: Itim, sans-serif;
  background-image: url("images/genshin_04_4K.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
}

h1 {
  text-align: center;
  opacity: 0;
  transform: translateY(10px);
  animation: fadeUp 1s forwards;
}

#kaeya-portrait {
  position: fixed;
  bottom: 0px;
  right: 0px;
  height: 600px;
  object-fit: contain;
  opacity: 0;
  animation: 200ms fadeUp 1s forwards;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.countdown {
  flex-direction: row;
  width: 30vw;
  justify-content: space-around;
}

.countdown-element {
  z-index: 1;
  background-color: rgb(255 255 255 / 0.5);
  padding: 0 20px 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.countdown-element > p {
  font-size: 20px;
}

@media (max-width: 1980px) {
  .countdown {
    width: 40vw;
  }
  body {
    /* background-image: url();
    height: 100%;
    background-color: aqua;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
  }
}

@media (max-width: 425px) {
  .countdown {
    width: 90vw;
  }
  #kaeya-portrait {
    height: 350px;
  }
  .countdown-element {
    padding: 0 10px 0 10px;
  }
  .countdown-element > p {
    font-size: 16px;
  }
}

@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  80% {
    transform: translateY(1px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
